globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

deployment:
  enabled: true
  replicas: 2
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  spec:
    loadBalancerIP: "192.168.1.240"  # Set a specific IP from MetalLB range

ports:
  web:
    port: 8000
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true
    annotations: {}
    entryPoints: ["websecure"]

providers:
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
  kubernetesCRD:
    enabled: true
    allowExternalNameServices: true

logs:
  general:
    level: ERROR
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true
    entryPoint: metrics